%ul
  %li
    Star Trek: Deep Space Nine
    %ul
      %li= link_to "Characters", st_ds9_chars_url
      %li= link_to "Episodes", st_ds9_eps_url
  %li
    Star Trek: The Next Generation
    %ul
      %li= link_to "Characters", st_tng_chars_url
      %li= link_to "Episodes", st_tng_eps_url
  %li
    Star Trek: Voyager
    %ul
      %li= link_to "Characters", st_voy_chars_url
      %li= link_to "Episodes", st_voy_eps_url
  %li
    Doctor Who
    %ul
      %li= link_to "Characters", drw_chars_url
      %li= link_to "Episodes", drw_eps_url